/***************************
    General
****************************/
body {
    margin-bottom: 100px;
    padding: 0;
    background-image: url('../images/white-waves.png');
}


/***************************
    Navigation Bar
****************************/
.navbar.toggler:focus {
    outline: none;
}

#logo {
   background-color: #4aaaa5;
   color: #fff;
   text-shadow: 1px 1px #000;
   font-weight: 500;
   letter-spacing: 1px;
}

/***************************
    Image profile
****************************/
.img-profile {
    shape-outside: circle();
    clip-path: circle();
}


/***************************
 Image Gallery
****************************/
.gallery {
    margin-top: 75px;
}


  /* Gallery */
  .trivia,
  .crystal,
  .nobel,
  .gifTastic,
  .train,
  .burger,
  .burger-handlebars,
  .bamazon,
  .friendFinder,
  .liriBot,
  .colorGame,
  .pigGame,
  .laptopStore  {
    -webkit-filter: sepia(100%) hue-rotate(90deg) saturate(400%);
    filter: sepia(400%) hue-rotate(90deg) saturate(300%);
  }

  .figure-caption a {
      text-decoration: none;
      color: #fff;
  }

/***************************
    Footer
****************************/
footer small {
    margin-top: 100px;
    border-top: 5px solid #777;
    background-color: #4aaaa5;

}
footer small:a {
    color: #fff;
}

h5 {
    text-decoration: underline;     
}

h3 {
    margin-top: 100px;
}

  /************************
    Form
  *************************/
  .bg {
      padding-left: 0;
      background: linear-gradient(rgba(74, 170, 165, .5), rgba(74, 170, 165, .6)), url('../images/contact-image.jpg');
      background-size: cover; 
      background-position: center;
  }

  form {
    width: 65%;
    background-color: #fff;
    padding: 20px;
    border-radius: 0 0 20% 0;
  }


label {
    color: #4aaaa5;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: 1px;
}

input, textarea {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 5px;
}


input, .btn {
    padding: 3px;
    border-radius: 2px;
}

textarea {
    resize: none;
    border-color: #ccc;
}

input[type=text], input[type=email], textarea {
    outline: none;
    color: #000;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
    background-color: rgb(255, 250, 250);
}


/************************
    Submit button styles
*************************/
.btn {
    background-color: #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #fff;
    padding: 5px;
    width: 100px;
    outline: none;
    border: none;
    border-radius: 25px;
}

.btn:hover {
    text-transform: uppercase;
    transition: 1s;
    background-color: #fff;
    border: 1px solid #4aaaa5;
    color: #4aaaa5;
}



  .active {
    color: #4aaaa5 !important;
    border-bottom: 1px solid #fff;
    text-shadow: 0 0 3px #fff;
    padding: 2px;
    font-size: .8rem;
    text-transform: uppercase;  
}

h5 {
    text-transform: uppercase;
    font-size: .9rem;
}

h3.contact {
    margin-left: 1%;
}

.contact {
    margin-left: 5%;
}

/**********************
  The home page animation code 
 /**********************/
@keyframes example {
    0% {
        color: #4aaaa5;
    }
    50% {
        color: #fff;
    }
    100% {
        color: #ff9800;
    }
  }


  /********************
    Meida Queries
  *********************/
  /* @media screen and (max-width: 900px) {
      img.crystal,
      .crystal-fig {
          width: 48%;
      }
      
  } */



/*************************
    MEDIA QURRIES
**************************/
    
/* Portrait Mode */
@media screen and (max-width: 568px) {
    #logo {
        width: 90%;
        margin: 0 auto 10px;
        font-size: 24px;
        text-align: center;
        background-color: #fff;
        color: #4aaaa5;
        text-shadow: none;
        border-bottom: 1px solid #ccc;
    }

    .menu {
        width: 100%;
        margin: 15px auto; 
        float: none;
        text-align: center; 
    }

    a.active {
        border-bottom: none;
    }
    
    i {
        visibility: hidden;
    }

    h2 {
        margin-top: 50px;
        font-size: 16px;
    }


    .contact {
        margin-left: 10px;
    }

    form {
        width: 95%;
    }
    
    .picture-wrapper .image-tabs, img {
        width: 100%;
        margin: 0 0 20px 0;
    }

    .image-tabs p {
        width: 100%;
        top: 72%;
    }

    .landingPara {
        visibility: hidden;
    }

    header {
        background-color: #fafafa;
    }

    #myBtn {
        right: 2%;
    }

    main {
        margin-bottom: 0;
    }

    .picture-wrapper {
        margin-left: 6px;
    }

}

@media screen and (max-width: 900px) {
    #logo {
        background-color: #4aaaa5;
        color: #fff;
        text-shadow: 1px 1px #000;
        border-bottom: none;
        margin-left: 0;
    }

    .image-tabs img {
        margin-left: -25px;
    }

    .text {
        top: 74%;
        background-color: transparent;
        top: 74%;
    }

    .img-profile {
        width: 150px;
    } 
}

@media screen and (max-width: 500px) {
    h3.about,
    h3.contact {
        margin-top: 150px;
    }

    form {
        width: 100%;
        border-radius: 0;
    }

    .img-profile {
        width: 120px;
        height: 120px;
    } 
}




