body {
    margin-bottom: 100px;
    padding: 0;
    background-image: url('images/white-waves.png');
}

.hero-image {
    background: url('images/heroPage.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100%;
}


#logo {
   background-color: #4aaaa5;
   color: #fff;
   text-shadow: 1px 1px #000;
   font-weight: 500;
   letter-spacing: 1px;
}

.img-profile {
    shape-outside: circle();
    clip-path: circle();
}

.gallery {
    margin-top: 75px;
}

footer small {
    margin-top: 100px;
    border-top: 5px solid #777;
    background-color: #4aaaa5;

}
footer small:a {
    color: #fff;
}

h5 {
    text-decoration: underline;     
}

/*************************
    Go top button
**************************/
#myBtn {
    display: none;
    position: fixed;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    display: block;
    background-color: #4aaaa5;
    border-radius: 50%;
    color: rgb(204, 204, 204);
    right: 12%;
    bottom: 120px;
  }

  #myBtn:hover {
    background-color: rgb(204, 204, 204);
    color: #4aaaa5;
  }

  .hero-image {
    background-image: linear-gradient(to  bottom right, rgba(52, 151, 151, .4), rgba(151, 151, 151, 0.6 )), url("images/heroPage.jpg");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }



.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 200;
    letter-spacing: 1px;
    transform: translate(-50%, -50%);
    color: white;
  }


  /* The animation code */
@keyframes example {
    0% {
        color: #4aaaa5;
    }
    50% {
        color: #fff;
    }
    100% {
        color: #ff9800;
    }
  }

  #homeBtn  {
    color: #fff;
    text-decoration: none;
    outline: none;
    border: none;
    padding: 10px 40px;
    background-color: #4aaaa5;
    padding: 5px 40px;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 0 2px;
    margin-top: 100px;
}

#homeBtn a:hover {
    color: #fff;
    text-decoration: none;
}

#homeBtn a:active {
    text-shadow: none;
}

.hero-text p {
    color: #fff;
}
